In [0]:
# Uploading files from your local file system

from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

#1. Resposta da Questão #1

In [3]:
#Biblioteca Pandas
import pandas as pd

#Leitura do dataset
eleicao = pd.read_csv("eleicao.csv", sep=";")
eleicao.head()

   Número                    Nome Partido/Coligação  Votos
0   10000          ANTONIO JUNIOR  PRB - PRB / PSDC    434
1   10010                 CIDINHA  PRB - PRB / PSDC     36
2   10100       GABRIEL NEGREIROS  PRB - PRB / PSDC    280
3   10111           JÚNIOR FRANÇA  PRB - PRB / PSDC    568
4   10123  PROFª MADALENA PEIXOTO  PRB - PRB / PSDC    382

#2. Resposta da Questão #2

In [6]:
#Listas a serem utilizadas
partidos = []
coligacoes = []


for item in eleicao["Partido/Coligação"]:
  split = item.split(" - ")
  partido = split[0]
  try:
    coligacao = split[1]
  except:
    coligacao = split[0] 
  partidos.append(partido)
  coligacoes.append(coligacao)
  
partidos = set(partidos)
coligacoes = set(coligacoes)

print(partidos)
print(coligacoes)

{'PRP', 'PTC', 'PDT', 'PSTU', 'PT do B', 'PSDC', 'DEM', 'PSOL', 'PTB', 'PEN', 'PSDB', 'PRB', 'PSC', 'PSL', 'PMN', 'PMB', 'SD', 'PROS', 'PP', 'PTN', 'PR', 'PC do B', 'PPS', 'PV', 'PSD', 'PHS', 'PT', 'REDE', 'PRTB', 'PSB', 'PMDB'}
{'PSD / PTB / PSL', 'PRB / PSDC', 'PSDB / PT do B', 'PSOL', 'PV', 'PTN', 'PHS', 'PSTU', 'PMB', 'PSB / PPS', 'SD', 'PC do B', 'PDT / PMDB / PR / PROS / DEM / PSC', 'PT', 'PRP / PTC / PRTB / PMN', 'REDE', 'PEN / PP'}

#3. Resposta da Questão #3

In [7]:
#Dicionário a ser utilizado
partidos_candidatos = {}

for item in eleicao["Partido/Coligação"]:
  partido = item.split(" - ")[0]
  
  if(partido in partidos_candidatos):
    partidos_candidatos[partido] += 1
  else:
    partidos_candidatos[partido] = 1
    
partidos = pd.Series(partidos_candidatos)
partidos.sort_values(ascending=False)

SD         43
PHS        42
PMB        42
PEN        41
PTN        37
PSOL       36
PV         30
PC do B    29
PDT        24
PSDC       23
PT         20
PSDB       20
PSD        20
PRB        17
PPS        17
PSB        17
PT do B    17
PRP        14
PTC        14
PSTU       11
PMN         8
PTB         7
PSL         6
REDE        5
PSC         5
PR          4
PMDB        4
PRTB        3
PP          3
PROS        2
DEM         2
dtype: int64

# 4. Resposta da Questão #4

In [23]:
partidos_e_legendas = {}

for item in eleicao["Número"]:
  
  numero_da_legenda = int(str(item)[0:2])
  
  if (numero_da_legenda in partidos_e_legendas):
    pass
  else:
    partido = eleicao[eleicao["Número"] == item]["Partido/Coligação"].item().split(" - ")[0]
    partidos_e_legendas[partido] = numero_da_legenda
  

partidos_e_legendas
#eleicao

{'DEM': 25,
 'PC do B': 65,
 'PDT': 12,
 'PEN': 51,
 'PHS': 31,
 'PMB': 35,
 'PMDB': 15,
 'PMN': 33,
 'PP': 11,
 'PPS': 23,
 'PR': 22,
 'PRB': 10,
 'PROS': 90,
 'PRP': 44,
 'PRTB': 28,
 'PSB': 40,
 'PSC': 20,
 'PSD': 55,
 'PSDB': 45,
 'PSDC': 27,
 'PSL': 17,
 'PSOL': 50,
 'PSTU': 16,
 'PT': 13,
 'PT do B': 70,
 'PTB': 14,
 'PTC': 36,
 'PTN': 19,
 'PV': 43,
 'REDE': 18,
 'SD': 77}

# 5. Resposta da Questão #5

In [11]:
eleicao[["Nome", "Votos"]].sort_values(by="Votos", ascending=False).head(29)

                             Nome  Votos
26                RANIERE BARBOSA  10510
75                  AMANDA GURGEL   8002
561  CARLA DICKSON OFTALMOLOGISTA   7924
72               UBALDO FERNANDES   7574
141                    LUIZ ALMIR   7339
50              NATALIA BONAVIDES   6202
41                   JULIA ARRUDA   5765
184                     ANA PAULA   5465
10       BISPO FRANCISCO DE ASSIS   5160
32               KLEBER FERNANDES   5061
549                EUDIANE MACEDO   4922
37                CHAGAS CATARINO   4810
363                  AROLDO ALVES   4532
74                   FELIPE ALVES   4511
503                WILMA DE FARIA   4421
443                  PRETO AQUINO   4206
300        DR FRANKLIN CAPISTRANO   4003
88              PROFESSORA ELEIKA   3758
388               SANDRO PIMENTEL   3700
370             DICKSON NASSER JR   3662
40                      ARY GOMES   3488
160                          DAGÔ   3428
64                 CÍCERO MARTINS   3237
464                  NEY LOPES JR   3197
395               MAURICIO GURGEL   3167
453                LILICO BEZERRA   3155
148               EDUARDO MACHADO   3002
534               PAULINHO FREIRE   2884
139          CESAR DE ADÃO ERIDAN   2768

#6. Resposta da Questão #6

In [17]:
def get_coligacao(partido_coligacao):
    """Essa função retorna a coligação que o vereador faz parte.
    
    Exemplo:
        input: 'PRB - PRB / PSDC'
        output: 'PRB / PSDC'
    """
    delimiter = partido_coligacao.find('-')+1
    return partido_coligacao[delimiter:].strip()

eleicao['coligacao'] = eleicao['Partido/Coligação'].apply(get_coligacao)
votos_coligacoes = eleicao.groupby('coligacao')['Votos'].sum().sort_values().to_dict()

votos_coligacoes
# eleicao['coligacao'] = eleicao['Partido/Coligação'].apply(lambda x: x[x.find('/')+1:].strip())

{'PC do B': 8429,
 'PHS': 15038,
 'PMB': 28629,
 'PMDB / PR / PROS / DEM / PSC': 75026,
 'PP': 18614,
 'PPS': 15152,
 'PSDC': 21283,
 'PSOL': 17033,
 'PSTU': 10074,
 'PT': 23200,
 'PT do B': 21000,
 'PTB / PSL': 30541,
 'PTC / PRTB / PMN': 9596,
 'PTN': 15658,
 'PV': 7082,
 'REDE': 497,
 'SD': 28224}

#7. Resposta da Questão #7

In [15]:
Q_eleitoral = 12684
total_cadeiras = 29
vagas_ocupadas = 0

q_partidario = {}
partido_com_cadeira = []
partido_sem_cadeira = []

for key, value in votos_coligacoes.items():
  q_partidario[key] = value//Q_eleitoral
  vagas_ocupadas += value//Q_eleitoral

for key, value in q_partidario.items():
  if (value == 0):
    partido_sem_cadeira.append(key)
  else:
    partido_com_cadeira.append(key)
    
print (partido_com_cadeira)
print (partido_sem_cadeira)

['PHS', 'PPS', 'PTN', 'PSOL', 'PP', 'PT do B', 'PSDC', 'PT', 'SD', 'PMB', 'PTB / PSL', 'PMDB / PR / PROS / DEM / PSC']
['REDE', 'PV', 'PC do B', 'PTC / PRTB / PMN', 'PSTU']

#8. Resposta da Questão #8

In [16]:
cadeiras_partido = {}
cadeiras_recebidas = {} 

for i in partido_com_cadeira:
  cadeiras_partido[i] = q_partidario[i]
  cadeiras_recebidas[i] = 0

media = {key:(votos_coligacoes[key]/(value + cadeiras_recebidas[key] + 1)) for (key, value) in cadeiras_partido.items()}
  
while (vagas_ocupadas < total_cadeiras):
  maior = pd.Series(media).idxmax()
  cadeiras_recebidas[maior] += 1
  media[maior] = votos_coligacoes[maior]/(cadeiras_partido[maior] + cadeiras_recebidas[maior] + 1)
  vagas_ocupadas += 1

cadeiras_totais = {key: (cadeiras_recebidas[key] + value) for key, value in cadeiras_partido.items()}

for i in partido_sem_cadeira:
  cadeiras_totais[i] = 0
  
print (cadeiras_totais)

{'PHS': 1, 'PPS': 1, 'PTN': 1, 'PSOL': 1, 'PP': 2, 'PT do B': 2, 'PSDC': 2, 'PT': 2, 'SD': 3, 'PMB': 3, 'PTB / PSL': 3, 'PMDB / PR / PROS / DEM / PSC': 8, 'REDE': 0, 'PV': 0, 'PC do B': 0, 'PTC / PRTB / PMN': 0, 'PSTU': 0}

#9. Resposta da Questão #9

In [18]:
eleitos = []

for key, value in cadeiras_totais.items():
  if (value > 0):
    linhas = eleicao[eleicao["coligacao"] == key]
    linhas = linhas.sort_values("Votos", ascending = False)
    linhas = linhas.iloc[0:value, :]
    aux = linhas["Nome"]
    for i in aux:
      eleitos.append(i)

eleitos

['SUELDO MEDEIROS',
 'DR FRANKLIN CAPISTRANO',
 'ERIKO JÁCOME',
 'SANDRO PIMENTEL',
 'PRETO AQUINO',
 'NINA SOUZA',
 'AROLDO ALVES',
 'WILMA DE FARIA',
 'ANA PAULA',
 'BISPO FRANCISCO DE ASSIS',
 'NATALIA BONAVIDES',
 'FERNANDO LUCENA',
 'EUDIANE MACEDO',
 'PAULINHO FREIRE',
 'KLAUS ARAUJO',
 'DINARTE TORRES',
 'ROBSON CARVALHO',
 'ALDO CLEMENTE',
 'PROFESSORA ELEIKA',
 'CÍCERO MARTINS',
 'NEY LOPES JR',
 'RANIERE BARBOSA',
 'CARLA DICKSON OFTALMOLOGISTA',
 'UBALDO FERNANDES',
 'LUIZ ALMIR',
 'JULIA ARRUDA',
 'KLEBER FERNANDES',
 'CHAGAS CATARINO',
 'FELIPE ALVES']

# Resposta da Questão #10

In [0]:
data['eleito'] = data['Nome'].isin(eleitos)
data.groupby('eleito')['Nome'].count()